* {
  margin: 0;
  padding: 0;
  font-family: "Sawarabi Gothic", sans-serif;
  box-sizing: border-box;
}

.body-index {
  background-image: linear-gradient(to bottom, black, rgb(78, 79, 75));
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  padding: 0;
}

.header-index {
  background-image: linear-gradient(to bottom, black, rgb(51, 52, 49));
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-index img {
  width: 100%;
  max-width: 500px;
  height: auto;
  display: block;
  margin: 0 auto;
  padding-right: 10px;
}

.main-index {
  background-image: linear-gradient(to bottom, rgb(6, 6, 5), rgb(47, 48, 40));
  width: 100%;
  height: auto;
}

.main-index h1 {
  text-align: center;
  color: #edede6;
  font-size: 1.5rem;
  font-style: italic;
}

.catalogos-index {
  background-image: linear-gradient(to bottom, rgb(6, 6, 5), rgb(47, 48, 40));
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: double;
  color: #edede6;
}

.fabricante-catalogo-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
  padding: 1rem;
}

.fabricante-index {
  background-image: linear-gradient(to bottom, rgb(26, 26, 26), rgb(65, 65, 65));
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

.fabricante-index img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.fabricante-index img:hover {
  background-color: #ddddd7;
}

.footer-index {
  background-image: linear-gradient(to bottom, rgb(11, 11, 11), rgb(60, 60, 54));
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  overflow-wrap: break-word;
}

.footer-index p {
  text-decoration: underline;
  text-decoration-style: double;
  font-weight: bold;
  font-size: 1.2rem;
  color: #edede6;
  margin: 10px 0;
}

.contacto-index {
  background-color: rgb(47, 48, 40);
  border-radius: 15px;
  padding: 4px;
  color: #edede6;
  font-size: 0.6rem;
  display: flex;
  align-self: center;
  text-decoration: none;
  font-weight: bold;
  max-width: 100%;
  margin: 3px 0;
}

.contacto-index a {
  text-decoration: none;
  color: #edede6;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}

.contacto-index:hover {
  color: #ffffff;
  background-color: #6b6b5f;
  border-radius: 10px;
}

.contacto-index img {
  width: 30px;
  height: auto;
}

.body-catalogos {
  height: 100px;
  width: 100%;
}

.header-catalogo, .footer-catalogo {
  text-align: center;
  width: 100%;
  padding: 0;
}

.header-catalogo a, .footer-catalogo a {
  color: #ffffff;
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  padding: 5px;
  margin: 15px 0;
  border-style: solid;
  border-radius: 7px;
}

.header-catalogo a:hover, .footer-catalogo a:hover {
  color: #565656;
  background-color: #e7e6e6;
  border-radius: 5px;
  text-align: center;
  width: auto;
}

.logo-container {
  width: 100%;
  text-align: center;
}

.logo-container img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.tipodemaquina {
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 5px;
}

.tipodemaquina h1 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-decoration: underline;
  text-decoration-style: double;
}

.tipodemaquina h2 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
  padding: 10px;
  text-decoration: underline;
}

.main-catalogos {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid-catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}

.article-catalogo {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  width: 360px;
  height: 370px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.article-catalogo p {
  color: #333333;
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 5px;
}

.article-catalogo h5 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  background-color: #25d366;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  width: auto;
  
}

.article-catalogo h5:hover {
  background-color: #128c7e;
}

.article-catalogo h6 {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px 5px;
  background-color: #3a09c2;
  color: white;
  font-size: 0.8rem;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  width: auto;
  
}
.article-catalogo h6:hover {
  background-color: #390563;
}

.article-catalogo img {
  width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: contain;
  border-radius: 5px;
  max-width: 300px;
  max-height: 200px;
}

.body-jack-bg {
  background-image: linear-gradient(to bottom, rgb(12, 56, 138), rgb(6, 141, 245));
}

.header-jack-bg, .footer-jack-bg {
  background-image: linear-gradient(to bottom, rgb(14, 128, 209), rgb(3, 33, 58));
}

.logo-jack-bg {
  background-image: linear-gradient(to bottom, rgb(203, 221, 255), rgb(255, 255, 255));
}

.main-jack-bg {
  background-image: linear-gradient(to bottom, rgb(238, 238, 245), rgb(208, 227, 247));
}

.tipodemaquina-jack-bg {
  background-image: linear-gradient(to bottom, rgb(12, 56, 138), rgb(6, 141, 245));
}

.volver-inicio-jack-bg {
  background-image: linear-gradient(to bottom, rgb(14, 128, 209));
}

.body-pegasus-bg {
  background-image: linear-gradient(to bottom, rgb(13, 13, 13), rgb(151, 2, 2));
}

.header-pegasus-bg, .footer-pegasus-bg {
  background-image: linear-gradient(to bottom, rgb(248, 16, 16), rgb(101, 8, 8));
}

.logo-pegasus-bg {
  background-image: linear-gradient(to bottom, rgb(247, 207, 207), rgb(255, 255, 255));
}

.main-pegasus-bg {
  background-image: linear-gradient(to bottom, rgb(247, 247, 247), rgb(238, 213, 213));
}

.tipodemaquina-pegasus-bg {
  background-image: linear-gradient(to bottom, rgb(97, 8, 8), rgb(251, 7, 7));
}

.body-dison-bg {
  background-image: linear-gradient(to bottom, rgb(6, 3, 0), rgb(248, 140, 0));
}

.header-dison-bg, .footer-dison-bg {
  background-image: linear-gradient(to bottom, rgb(176, 82, 3), rgb(61, 30, 0));
}

.logo-dison-bg {
  background-image: linear-gradient(to bottom, rgb(255, 236, 208), rgb(255, 255, 255));
}

.main-dison-bg {
  background-image: linear-gradient(to bottom, rgb(246, 217, 167), rgb(140, 99, 4));
}

.tipodemaquina-dison-bg {
  background-image: linear-gradient(to bottom, rgb(6, 3, 0), rgb(248, 140, 0));
}

.body-baoyu-bg {
  background-image: linear-gradient(to bottom, rgb(92, 1, 1), rgb(255, 0, 0));
}

.header-baoyu-bg, .footer-baoyu-bg {
  background-image: linear-gradient(to bottom, rgb(92, 1, 1), rgb(255, 0, 0));
}

.logo-baoyu-bg {
  background-image: linear-gradient(to bottom, rgb(247, 207, 207), rgb(255, 255, 255));
}

.main-baoyu-bg {
  background-image: linear-gradient(to bottom, rgb(247, 247, 247), rgb(238, 213, 213));
}

.tipodemaquina-baoyu-bg {
  background-image: linear-gradient(to bottom, rgb(92, 1, 1), rgb(255, 0, 0));
}

/* Responsividad */
@media (max-width: 1280px) {
  .header-index img {
    max-width: 400px;
  }
  .logo-container img {
    max-width: 200px;
    max-height: 200px;
  }
  .main-index h1 {
    font-size: 0.8rem;
  }
  .catalogos-index p, .footer-index p {
    font-size: 0.6rem;
  }
  .fabricante-index {
    max-width: 200px;
    max-height: 200px;
  }
  .article-catalogo {
    max-width: 230px;
    max-height: 260px;
  }
  .article-catalogo p {
    font-size: 0.6rem;
  }
  .article-catalogo h5{
    font-size: 0.6rem;
  }

  .article-catalogo h6{
    font-size: 0.6rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .header-catalogo a, .footer-catalogo a {
    font-size: 0.8rem;
  }
  .footer-index a {
    font-size: 0.8rem;
  }
}
@media (max-width: 1024px) {
  .header-index img {
    max-width: 300px;
  }
  .logo-container img {
    max-width: 150px;
    max-height: 150px;
  }
  .main-index h1 {
    font-size: 0.6rem;
  }
  .catalogos-index p, .footer-index p {
    font-size: 0.6rem;
  }
  .fabricante-index {
    max-width: 200px;
    max-height: 200px;
  }
  .article-catalogo {
    max-width: 180px;
    max-height: 210px;
  }
  .article-catalogo p {
    font-size: 0.6rem;
  }
  .article-catalogo h5{
    font-size: 0.6rem;
  }

  .article-catalogo h6{
    font-size: 0.6rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .header-catalogo a, .footer-catalogo a {
    font-size: 0.8rem;
  }
  .footer-index a {
    font-size: 0.5rem;
  }
}
@media (max-width: 768px) {
  .header-index img {
    max-width: 300px;
  }
  .logo-container img {
    max-width: 150px;
    max-height: 150px;
  }
  .main-index h1 {
    font-size: 0.6rem;
  }
  .catalogos-index p, .footer-index p {
    font-size: 0.6rem;
  }
  .fabricante-index {
    max-width: 200px;
    max-height: 200px;
  }
  .article-catalogo {
    max-width: 180px;
    max-height: 210px;
  }
  .article-catalogo p {
    font-size: 0.5rem;
  }
  .article-catalogo h5{
    font-size: 0.8rem;
  }

  .article-catalogo h6{
    font-size: 0.8rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .header-catalogo a, .footer-catalogo a {
    font-size: 0.8rem;
  }
  .footer-index a {
    font-size: 0.5rem;
  }
}
@media (max-width: 480px) {
  .header-index img {
    max-width: 200px;
  }
  .logo-container img {
    max-width: 120px;
    max-height: 120px;
  }
  .main-index h1 {
    font-size: 0.6rem;
  }
  .catalogos-index p, .footer-index p {
    font-size: 0.6rem;
  }
  .fabricante-index {
    max-width: 130px;
    max-height: 150px;
  }
  .article-catalogo {
    max-width: 180px;
    max-height: 210px;
  }
  .article-catalogo p {
    font-size: 0.6rem;
  }
  .article-catalogo h5{
    font-size: 0.8rem;
  }

  .article-catalogo h6{
    font-size: 0.8rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .tipodemaquina h2 {
    font-size: 1rem;
  }
  .header-catalogo a, .footer-catalogo a {
    font-size: 0.8rem;
  }
  .footer-index a {
    font-size: 0.5rem;
  }
}
@media (max-width: 320px) {
  .header-index img {
    max-width: 200px;
  }
  .logo-container img {
    max-width: 120px;
    max-height: 120px;
  }
  .main-index h1 {
    font-size: 0.6rem;
  }
  .catalogos-index p, .footer-index p {
    font-size: 0.6rem;
  }
  .fabricante-index {
    max-width: 130px;
    max-height: 130px;
  }
  .article-catalogo {
    max-width: 180px;
    max-height: 210px;
  }
  .article-catalogo p {
    font-size: 0.6rem;
  }

  .article-catalogo h5{
    font-size: 0.6rem;
  }

  .article-catalogo h6{
    font-size: 0.6rem;
  }
  .tipodemaquina h1 {
    font-size: 1rem;
  }
  .tipodemaquina h2 {
    font-size: 1rem;
  }
  .header-catalogo a, .footer-catalogo a {
    font-size: 0.8rem;
  }
  .footer-index a {
    font-size: 0.5rem;
  }
}


/*# sourceMappingURL=indexstyle.css.map */
