/* Fondos */

/* Fondos Generales */
.body-index {
    background-image: linear-gradient(to bottom, black, rgb(78, 79, 75));
}

.header-index {
    background-image: linear-gradient(to bottom, black, rgb(51, 52, 49));
}

.main-index {
    background-image: linear-gradient(to bottom, rgb(6, 6, 5), rgb(47, 48, 40));
}

.catalogos-index {
    background-image: linear-gradient(to bottom, rgb(6, 6, 5), rgb(47, 48, 40));
}

.footer-index {
    background-image: linear-gradient(to bottom, rgb(11, 11, 11), rgb(60, 60, 54));
}

.contacto-index {
    background-color: rgb(47, 48, 40);
}

/* Fondos Específicos de Marca */
.body-jack-bg {
    background-image: linear-gradient(to bottom, rgb(12, 56, 138), rgb(6, 141, 245));
}

.header-jack-bg, .footer-jack-bg {
    background-image: linear-gradient(to bottom, rgb(14, 128, 209), rgb(3, 33, 58));
}

.logo-jack-bg {
    background-image: linear-gradient(to bottom, rgb(203, 221, 255), rgb(255, 255, 255));
}

.main-jack-bg {
    background-image: linear-gradient(to bottom, rgb(238, 238, 245), rgb(208, 227, 247));
}

.tipodemaquina-jack-bg {
    background-image: linear-gradient(to bottom, rgb(12, 56, 138), rgb(6, 141, 245));
}

.volver-inicio-jack-bg {
    background-image: linear-gradient(to bottom, rgb(14, 128, 209));
}

.body-pegasus-bg {
    background-image: linear-gradient(to bottom, rgb(13, 13, 13), rgb(151, 2, 2));
}

.header-pegasus-bg, .footer-pegasus-bg {
    background-image: linear-gradient(to bottom, rgb(248, 16, 16), rgb(101, 8, 8));
}

.logo-pegasus-bg {
    background-image: linear-gradient(to bottom, rgb(247, 207, 207), rgb(255, 255, 255));
}

.main-pegasus-bg {
    background-image: linear-gradient(to bottom, rgb(247, 247, 247), rgb(238, 213, 213));
}

.tipodemaquina-pegasus-bg {
    background-image: linear-gradient(to bottom, rgb(97, 8, 8), rgb(251, 7, 7));
}

.body-dison-bg {
    background-image: linear-gradient(to bottom, rgb(6, 3, 0), rgb(248, 140, 0));
}

.header-dison-bg, .footer-dison-bg {
    background-image: linear-gradient(to bottom, rgb(176, 82, 3), rgb(61, 30, 0));
}

.logo-dison-bg {
    background-image: linear-gradient(to bottom, rgb(255, 236, 208), rgb(255, 255, 255));
}

.main-dison-bg {
    background-image: linear-gradient(to bottom, rgb(246, 217, 167), rgb(140, 99, 4));
}

.tipodemaquina-dison-bg {
    background-image: linear-gradient(to bottom, rgb(6, 3, 0), rgb(248, 140, 0));
}

.body-baoyu-bg {
    background-image: linear-gradient(to bottom, rgb(92, 1, 1), rgb(255, 0, 0));
}

.header-baoyu-bg, .footer-baoyu-bg {
    background-image: linear-gradient(to bottom, rgb(92, 1, 1), rgb(255, 0, 0));
}

.logo-baoyu-bg {
    background-image: linear-gradient(to bottom, rgb(247, 207, 207), rgb(255, 255, 255));
}

.main-baoyu-bg {
    background-image: linear-gradient(to bottom, rgb(247, 247, 247), rgb(238, 213, 213));
}

.tipodemaquina-baoyu-bg {
    background-image: linear-gradient(to bottom, rgb(92, 1, 1), rgb(255, 0, 0));
}
